<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.springframework.org/schema/security"
      layout:decorator="/layout/default">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="css">
    <script th:inline="javascript"></script>
</th:block>
<div layout:fragment="content">
    <div>
        <h1>관리자페이지</h1>
    </div>
    <div style="margin: 0 auto; width: 1100px; min-width: 1100px;">
        <ul>
            <li style="text-align: center;">
                <a href="admin/plist">상품목록</a>
                <a href="admin/olist">주문목록</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>