<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.springframework.org/schema/security"
      layout:decorator="/layout/default">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="css">
    <style>
        #title { text-align: center; }
        table tr td { text-align: center; }
    </style>
</th:block>
<div layout:fragment="content">
    <div>
        <h1>상품목록</h1>
    </div>
    <div style="margin: 0 auto; width: 1100px; min-width: 1100px;">
        <div style="text-align: right;">
            <a href="/admin/upload" style="text-align: right; padding-bottom: 10px; margin-right: 50px; display: inline-block">상품등록</a>
            <div class="list">
                <table class="plist" style=" width: 1000px; margin: 0 auto; border: 1px solid #ddd;">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 15%">
                        <col style="width: 15%">
                        <col style="width: 35%">
                    </colgroup>
                    <thead>
                    <tr id="title">
                        <th>상품명</th>
                        <th>가격</th>
                        <th>재고</th>
                        <th>등록일</th>
                    </tr>
                    </thead>
                    <tbody class="tbody">

                    </tbody>

                </table>
            </div>
            <div>
                <ul class="page" style="text-align: center">

                </ul>
            </div>
        </div>
    </div>
    <th:block>
        <script th:inline="javascript">
            var page = 0;
            var first = true
            var last = true
            var totalPages = 0;

            callList = pagingList;
            pagingList(page);

            function  pagingList(page) {
                $.getJSON('/product', {page: page})
                    .done(function (data) {
                        $(".tbody").empty()
                        for(var i=0; i<data.content.length; i++){
                            console.log(data)
                            var tag = "<tr><td><a href='/admin/view/"+data.content[i].id+"'>"+data.content[i].pname+"</a></td>" ;
                            tag+= "<td>"+data.content[i].price+"원</td><td>"+ data.content[i].stock+"</td><td>";
                            tag+=data.content[i].regdate+"</td>";

                            $(".tbody").append(tag);
                        }
                        $(".page").empty();
                        for(var i=0; i< data.totalPages; i++){
                            console.log(i)
                            if (i == page){
                                $(".page").append("<li style='display: inline-block'><a style='font-weight: bold;' href='javascript:void(0)' onclick='return false;'>"+(i+1)+"</a></li>");
                            }else{
                                $(".page").append("<li style='display: inline-block'><a href='javascript:void(0)' onclick='pagingList("+(i)+")'>" +  (i+1) + "</a></li>");
                            }
                        }
                    })

            }


        </script>
    </th:block>
</div>
</body>
</html>